@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 180 100% 95%;
  --foreground: 180 5% 0%;
  --card: 180 50% 90%;
  --card-foreground: 180 5% 10%;
  --popover: 180 100% 95%;
  --popover-foreground: 180 100% 0%;
  --primary: 180 100% 29%;
  --primary-foreground: 0 0% 100%;
  --secondary: 180 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 142 30% 85%;
  --muted-foreground: 180 5% 35%;
  --accent: 142 30% 80%;
  --accent-foreground: 180 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 180 5% 90%;
  --border: 180 30% 50%;
  --input: 180 30% 18%;
  --ring: 180 100% 29%;
  --radius: 0.5rem;
}

.dark {
  --background: 180 50% 5%;
  --foreground: 180 5% 90%;
  --card: 180 50% 0%;
  --card-foreground: 180 5% 90%;
  --popover: 180 50% 5%;
  --popover-foreground: 180 5% 90%;
  --primary: 180 100% 29%;
  --primary-foreground: 0 0% 100%;
  --secondary: 180 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 142 30% 15%;
  --muted-foreground: 180 5% 60%;
  --accent: 142 30% 15%;
  --accent-foreground: 180 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 180 5% 90%;
  --border: 180 30% 18%;
  --input: 180 30% 18%;
  --ring: 180 100% 29%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Take care of filling heights */
html,
body,
#root,
main {
  @apply h-full;
}

/* Remove arrows from number inputs */
/* https://stackoverflow.com/questions/71296535/how-to-remove-arrow-on-input-type-number-with-tailwind-css */
@layer base {

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    appearance: none;

    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* TODO: Investigate Old global styles */
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*/